version: '3.8'

services:
  estime-backend:
    image: registry.beta.pole-emploi.fr/estime/estime-backend:release-candidate
    environment:
      DATABASE_USERNAME: "{{ POSTGRES_USER }}"
      DATABASE_PASSWORD: "{{ R7_POSTGRES_PASSWORD }}"
      ENVIRONMENT: "{{ R7_ENVIRONMENT }}"
      PE_CONNECT_CLIENT_ID: "{{ R7_PE_CONNECT_CLIENT_ID }}"
      PE_CONNECT_CLIENT_SECRET: "{{ R7_PE_CONNECT_CLIENT_SECRET }}"
      PE_CONNECT_ISSUER_URI: "{{ R7_PE_CONNECT_ISSUER_URI }}"
      PE_CONNECT_JWK_SET_URI: "{{ R7_PE_CONNECT_JWK_SET_URI }}"
      PE_CONNECT_TOKEN_URI: "{{ R7_PE_CONNECT_TOKEN_URI }}"
      PE_CONNECT_USER_INFO_URI: "{{ R7_PE_CONNECT_USER_INFO_URI }}"
      POLE_EMPLOI_IO_URI: "{{ R7_POLE_EMPLOI_IO_URI }}"
      TOMCAT_THREADS_MAX: 250
      TOMCAT_THREADS_MIN_SPARE: 25
      TZ: "Europe/Paris"
    networks:
     - estime
    healthcheck:
      test: curl -v --silent http://localhost:8080/estime/v1/actuator/health 2>&1 | grep UP || exit 1
      timeout: 30s
      interval: 1m
      retries: 10
      start_period: 180s
    deploy:
      replicas: 2
      resources:
        reservations:
          cpus: '0.20'
          memory: 256Mi
        limits:
          cpus: '0.40'
          memory: 512Mi
      update_config:
        parallelism: 1
        order: start-first
        failure_action: rollback
        delay: 10s
      rollback_config:
        parallelism: 0
        order: stop-first
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 180s
  postgres:
    image: registry.beta.pole-emploi.fr/customize-docker-images/postgres
    networks:
      - estime
    ports:
      - "5432:5432"
    volumes:
      - ./database/var/lib/postgresql/data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: {{ POSTGRES_DB }}
      POSTGRES_USER: {{ POSTGRES_USER }}
      POSTGRES_PASSWORD: {{ POSTGRES_PASSWORD }}
      TZ: "Europe/Paris"
    command: postgres -c max_connections=250
    deploy:
      replicas: 1
      resources:
        reservations:
          cpus: '0.20'
          memory: 256Mi
        limits:
          cpus: '0.40'
          memory: 512Mi
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 30s
  adminer:
    image: adminer:4.8.0-standalone
    networks:
      - estime
    deploy:
      replicas: 1
      resources:
        reservations:
          cpus: '0.05'
          memory: 64Mi
        limits:
          cpus: '0.10'
          memory: 128Mi
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 30s

networks:
  estime:
    external: true
    name: estime
 
